body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.chats{
    display: flex;
    width: 25%;
    min-height: 100vh;
    border: solid 1px #d3d3d3;
    flex-direction: column;

}

.msj{
    display: flex;
    width: 75%;
    min-height: 100vh;
    border: solid 1px #d3d3d3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.square{
    border: solid 1px #d3d3d3;
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.burbuja{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.mainSquare{
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #d3d3d3;
}

.info{
    display: flex;
    flex-direction: column;
}

.name{
    padding-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.status{
    padding-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
    color: #d3d3d3;
}

.icons{
    display: flex;
    justify-content: end;
}

.newChat{
    display: flex;
    border: solid 1px #d3d3d3;
    height: 9rem;
    justify-content: center;
    align-items: center;
}

.text{
    padding-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo{
    height: 200px;
    width: 200px;
}

.description{
    text-align: center;
    margin-top: 3px;
}